/* ======================================
              styles defaut
====================================== */
body{
  overflow-x: hidden!important;
}

.fixed-menu{
    position: fixed!important;
    width: 100%!important;
    z-index: 999!important;
    background-color: $white!important;
    -webkit-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.103);
    -moz-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.103);
    box-shadow: 0px 0px 27px -4px rgba(0, 0, 0, 0.103);

    .menu-mobile {
      &:after{
        color: $gray;
        border-left: 1px solid $gray;
      }
  
    }
    
    .bar-menu {
      border: 1px solid $gray;
      background: $gray;
    }

    .menu__list{
      .nav-item{
        a:not(.button-blue){
          color: $gray!important;
          &:before{
            background: $gray;
          }
        }
      }
    }
}

a{
  text-decoration: none!important;
  font-family: 'Open Sans', sans-serif;
  color: $white;
}

h1, h2, h3, h4, h5, h6{
  color: $gray;
  font-family: 'Montserrat', sans-serif;
}

input, button, textarea{
  outline: none;
  box-shadow: 0;
}

.scroll{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 3;
  text-align: center;
}

.form-test{
  .input-slider{
    background-color: $white;
    padding: 30px 40px;
    border: 0;
    @include border-radius(50px);
  }
  
  .btn-test{
    position: absolute;
    top: 50%;
    right: 8px;
    border: 0;
    margin-top: -24px;
  }
}

@media(max-width: $screen-xs-max){
  .form-test{
    .btn-test{
      position: static;
      top: auto;
      right: auto;
      margin-top: 10px;
      width: 100%;
    }
  }
}

p{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.bold-title{
  font-family: 'proximaBold';
}

.modal-dialog{
  .modal-content{
    background-color: $white;
    border: 0;
    @include border-radius(25px);
    .close-modal{
      border: 0;
      position: absolute;
      top: -20px;
      right: -30px;
      padding: 10px 30px!important;
    }

    .modal-header{
      border-bottom: 0;
      padding: 45px 45px 0 45px;
      .modal-title{
        font-weight: 300;
        margin-top: 15px;
        line-height: 30px;
        span{
          font-weight: 700;
        }
      }
    }

    .modal-body{
      padding: 45px;
      form{
        input{
          border: 1px solid #d1d1d1;
          padding: 30px;
          color: $gray;
          outline: none!important;
          box-shadow: none!important;
          border-color: #d1d1d1!important;
          @include border-radius(50px);
        }
      }
  
    }

    .modal-footer{
      padding: 0; 
      border-top: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.bar{
  width: 70%;
  height: 1px;
  display: block;
  background-color: rgba(255, 255, 255, 0.493);
  margin: 40px 0;
}

.social-icons{
  position: absolute;
  top: 238px;
  z-index: 9;
  left: -110px;
  @include rotate(-90deg);
  li{
    margin: 5px;
    a{
      color: $white;
    }
  }
}


/* ======================================
              load page
====================================== */


/* ======================================
              Buttons defaut
====================================== */
.forgot{
  color: $gray-dark;
  font-size: 13px;
  @include transition(.5s);
  &:hover{
    color: $green-1;
  }
 /*  @media(max-width: $screen-xs-max){
    white-space: nowrap;
    float: right;
  } */
}

#button-top{
  cursor: pointer;
  position: fixed;
  right: 31px;
  bottom: 20px;
  background-color: $blue-1;
  width: 50px;
  height: 50px;
  z-index: 99;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  line-height: 50px;
  color: $white;
}

.bounce-effect {
	-moz-animation: bounce-effect 3s infinite;
	-webkit-animation: bounce-effect 3s infinite;
	animation: bounce-effect 3s infinite;
}
@-moz-keyframes bounce-effect {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-60px);
    transform: translateY(-3px);
  }
  60% {
    -moz-transform: translateY(-3px);
    transform: translateY(-7px);
  }
}
@-webkit-keyframes bounce-effect {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  60% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}
@keyframes bounce-effect {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  60% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

#button-top.show {
  opacity: 1;
  visibility: visible;
}

.button-gradient{
  color: $white;
  background: $blue-1;
  background: -moz-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
  background: -webkit-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
  background: linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#194ff2",endColorstr="#00b7f8",GradientType=1);
  padding: 12px 18px!important;
  @include border-radius(50px);
  font-weight: bold;
  &:hover{
    color: $white;
  }
}

.button-blue{
  color: $white;
  background: $blue-1;
  padding: 12px 18px!important;
  @include border-radius(50px);
  font-weight: bold;
}

.button-blue-2{
  color: $white;
  background: $blue-2;
  padding: 12px 18px!important;
  @include border-radius(50px);
  font-weight: bold;
  &:hover{
    color: $white;
  }
}

.btn-green{
  color: $white;
  background: $green;
  padding: 12px 18px!important;
  @include border-radius(50px);
  font-weight: bold;
  &:hover{
    color: $white;
  }
}

.btn-gray{
  color: $gray;
  background: #dedede;
  padding: 12px 18px!important;
  @include border-radius(50px);
  font-weight: bold;
  &:hover{
    color: $gray;
  }
}
.-phone{
  font-weight: bold;
}
/* ======================================
          menu show hide scroll
====================================== */
@media(max-width: $screen-xs-max){
  .action-menu{
    display: none!important;
  }
}
.contact-fixed-btn{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  width: 50px;
  height: 0px;
  background-color: $green-1;
  text-align: center;
  fill: $white;
  line-height: 50px;
  display: block;
  position: fixed;
  z-index: -1;
  opacity: 0;
  right: 31px;
  top: 13px;
  @include transition(.5s)
}



.contact-fixed{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  width: 50px;
  height: 50px;
  background-color: $green-1;
  text-align: center;
  fill: $white;
  line-height: 50px;
  display: block;
  position: fixed;
  z-index: 2;
  opacity: 1;
  right: 31px;
  top: 13px;
  @include transition(.5s);
  
}

.register-fixed{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  width: 50px;
  height: 50px;
  background-image: url(../images/gradient.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  fill: $white;
  line-height: 50px;
  display: block;
  position: fixed;
  z-index: 2;
  opacity: 1;
  right: 31px;
  top: 62px;
  @include transition(.5s);
  
}

.lang-fixed-btn{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  width: 50px;
  height: 0px;
  background-color: $white;
  text-align: center;
  color: $gray-dark;
  line-height: 50px;
  display: block;
  position: fixed;
  z-index: -1;
  opacity: 0;
  right: 31px;
  top: 13px;
  @include transition(.5s)
}

.lang-fixed{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  width: 50px;
  height: 50px;
  background-color: $white;
  text-align: center;
  color: $gray-dark;
  line-height: 50px;
  display: block;
  position: fixed;
  z-index: 2;
  opacity: 1;
  right: 31px;
  top: 112px;
  @include transition(.5s)
}

.btn-contact-toggle{
  position: fixed;
  opacity: 1;
  height: 50px;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: height .5s cubic-bezier(.5,0,0,1),-webkit-transform .5s cubic-bezier(.5,0,0,1);
  transition: height .5s cubic-bezier(.5,0,0,1),-webkit-transform .5s cubic-bezier(.5,0,0,1);
  transition: transform .5s cubic-bezier(.5,0,0,1),height .5s cubic-bezier(.5,0,0,1);
  transition: transform .5s cubic-bezier(.5,0,0,1),height .5s cubic-bezier(.5,0,0,1),-webkit-transform .5s cubic-bezier(.5,0,0,1);
  
}

.btn-lang-toggle{
  @extend .btn-contact-toggle;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

@media(max-width: $screen-xs-max){
  .btn-contact-toggle{
    -webkit-transform: translateY(58px);
    transform: translateY(58px);
  }

  .btn-lang-toggle{
    -webkit-transform: translateY(109px);
  transform: translateY(109px);
  }
}

#dLabel {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 0;
  color: $gray-dark;
  position: relative;
}

.caret {
  margin: 0 auto;
  display: block;
  position: absolute;
  bottom: 9px;
  left: 0;
  right: 0;
}

.dropdown-menu {
  width: 50px;
  padding: 0;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown {
  button {
    &:hover, &:focus {
      border: none;
      outline: 0;
    }
  }

  &.open {
    button#dLabel {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
      border: solid 1px #666;
      border-bottom: none;
    }

    ul {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
      border: solid 1px #666;
      border-top: none;
      height: 200px;
      overflow-y: scroll;
    }
  }
}

.dropdown-menu{
  background-clip: border-box;
  min-width: 50px;
  border-radius: 0;
  li {
    line-height: 1.5;
    color: $gray-dark;
    font-size: 14px;
    cursor: pointer;
    padding: 7px 15px;
    border-top: solid 1px #f3f3f3;
    
  
    &:hover {
      background-color: #ccc;
    }
  }
}


/*end menu show hide scroll*/



.navbar{
    position: absolute;
    width: 100%;
    z-index: 2;
}
.navbar-dark .navbar-nav .nav-link{
    color: $white;
    fill: $white;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
    color: $white;
    fill: $white;
}

.nav-item{
    .lang{
        color: rgba(255, 255, 255, 0.589)!important;
        text-transform: uppercase;
    }
    .active{
          color: $white!important;
    }
}

.menu {
    line-height: 1;
}
  
  .menu__list {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menu__item {
    display: block;
  }
  
  .menu__link {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    padding: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: $white;
  
    &:hover, &:focus {
      outline: none;
    }
  }
  
  .menu--prospero {
    .menu__link {
      position: relative;
      display: block;
      margin: -22px .7em;
      //margin: 0 1.5em;
      padding: 0.75em 0;
      text-align: center;
      color: $white!important;
      transition: color 0.3s;
  
      &:hover, &:focus {
        color: $white;
      }
    }
  
    .menu__item--current .menu__link {
      color: $white;
    }
  
    /* .menu__link::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 70%;
      height: 3px;
      background: $white;
      transform: scale3d(0, 1, 1);
      transition: transform 0.1s;
    } */
  
    .menu__item--current .menu__link::before {
      transform: scale3d(1, 1, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.3s;
    }
  }

  

  /*keyframe-menu*/

  .menu-mobile {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 0px;
    position: relative;
    top: -4px;
    background-color: transparent;
    outline: none;
    &:after{
      content:'Menu';
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: 60px;
      color: $white;
      text-transform: uppercase;
      border-left: 1px solid $white;
      padding: 0 12px;
    }

  }
  
  .bar-menu {
    height: 0px;
    border: 1px solid #fff;
    width: 30px;
    display: block;
    position: absolute;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
  }

  .bar-menu {
    &:nth-child(1) {
      top: 16px;
    }
  
    &:nth-child(2) {
      top: 24px;
      left: 15px;
    }
  
    &:nth-child(3) {
      top: 32px; 
  
      &:before {
        opacity: 0;
        animation: ball 1.5s linear infinite;
        content: '';
        border: 2px solid #fff;
        display: block;
        position: relative;
        top: 0.25px;
      }
    }
  }
  

  @media(max-width: $screen-xs-max){
    .menu-mobile {
      position: fixed;
      top: 5px;
      right: 90px;
    }
  }
  
  /* .menu-mobile {
    &:hover {
      .bar-menu {
        &:nth-child(3):before {
          width: 2px;
          height: 2px;
          border-radius: 50%;
          background: #F26451;
        }
  
        border: 1.5px solid #fff;
        height: 12px;
        border-radius: 50%;
        //margin-left: 0px;
        margin-top: 19px;
        animation: atom 300ms linear 1;
        width: 35px;
        top: 0px;
        background: transparent;
      }
    }
  
    &:focus {
      outline: 0px;
    }
  } */
  /* 
  .bar-menu {
    &:nth-child(1) {
      top: 16px;
    }
  
    &:nth-child(2) {
      top: 24px;
    }
  
    &:nth-child(3) {
      top: 32px; 
  
      &:before {
        opacity: 0;
        animation: ball 1.5s linear infinite;
        content: '';
        border: 3px solid #fff;
        display: block;
        position: relative;
        top: 0.25px;
      }
    }
  }
  
  .menu-mobile {
    &:hover .bar-menu {
      &:nth-child(1) {
        transform: rotate(-33deg);
      }
  
      &:nth-child(2) {
        transform: rotate(90deg);
      }
  
      &:nth-child(3) {
        transform: rotate(33deg);
  
        &:before {
          opacity: 1;
          transition: opacity 600ms cubic-bezier(0.61, 0.01, 0.42, 1);
        }
      }
    }
  
    &:active {
      &:hover .bar-menu:nth-child(3):before {
        opacity: 0;
        transition: all 200ms;
      }
  
      .bar-menu {
        &:nth-child(3):before {
          opacity: 0;
          transition: all 200ms;
        }
  
        &:nth-child(2) {
          opacity: 0;
          transition: all 200ms;
          width: 0px;
        }
  
        border: 1.5px solid #fff;
        height: 0px;
        border-radius: 0%;
        margin-left: -1px;
        margin-top: 6px;
        animation: division 300ms linear 1;
        width: 25px;
        top: 0px;
  
        &:nth-child(3) {
          transform: rotate(45deg);
        }
  
        &:nth-child(1) {
          transform: rotate(-45deg);
        }
      }
    }
  }
  
  @keyframes atom {
    0% {
      transform: rotate(180deg);
    }
  }
  
  @keyframes division {
    0% {
      transform: rotate(180deg);
    }
  }
  
  @keyframes ball {
    0% {
      left: -20%;
      top: 10%;
    }
  
    10% {
      left: 10%;
      top: -35%;
    }
  
    25% {
      left: 45%;
      top: -50%;
    }
  
    40% {
      left: 80%;
      top: -20%;
    }
  
    50% {
      left: 98%;
      top: 18%;
    }
  
    60% {
      left: 80%;
      top: 50%;
    }
  
    75% {
      left: 45%;
      top: 80%;
    }
  
    90% {
      left: 0%;
      top: 60%;
    }
  
    100% {
      left: -20%;
      top: 10%;
    }
  } */