.main-content .slideshow {

}
  
  .btn {
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    background: transparent; 
    border: 1px solid #e1e1e1;
    font: 12px/1.2 "Oswald", sans-serif;
    letter-spacing: 0.4em;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    transition: color 0.1s linear 0.05s;
  
    
  
    &::after {
      transition:border 0.1s linear 0.05s;
    }
  
    .btn-inner {
      position: relative;
      z-index: 2;
    }
  
    &:hover {
      color: #373737;
      transition: color 0.1s linear 0s;
  
      &::before {
        top: 0;
        height: 100%;
        opacity: 1;
        transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
      }
  
      &::after {
        white: #373737;
        transition:border 0.1s linear 0s;
      }
    }
  }
  
  .slideshow { 
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
  
    .slideshow-inner { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    .slides { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  
    .slide { 
      display: none;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s ease;
  
      &.is-active {
        display: block;
      }
  
      &.is-loaded{
        opacity: 1;
      }
  
      /* .caption { 
        padding: 0 100px;
      } */

      .image-slide{
        transition: opacity 0.3s ease;
      }

      .-slide-image-one{
        position: relative;
        &:after{
          content: "fis";
          text-transform: uppercase;
          color: $white;
          font-weight: 800;
          font-family: 'Montserrat', sans-serif;
          font-size: 200px;
          position: absolute;
          left: -140px;
          bottom: 210px;
          letter-spacing: 45px;
          z-index: -1;
          @include rotate(-90deg);
        }

        &:before{
          content: "gar";
          text-transform: uppercase;
          color: $white;
          font-weight: 800;
          font-family: 'Montserrat', sans-serif;
          font-size: 200px;
          position: absolute;
          right: -230px;
          top: 110px;
          letter-spacing: 45px;
          z-index: -1;
          @include rotate(-90deg);
        }
      }
  
      .image-container{ 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        z-index: 1;
        background-size: cover;
        image-rendering: optimizeQuality;
  
        /* &::before { 
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.5);
        } */
      }
  
      .image {
        width: 100%;
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
  
      &-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        color: #fff;
        /* display: flex;
        justify-content: center;
        align-items: center; */
      }
  
      .title { 
        font-size: 45px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        line-height: 42px;
        span{
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
        }
      }
  
      .text {
        font-size: 14px;
      }

      @media(max-width: $screen-xs-max){
        .title { 
          text-align: center;
          font-size: 30px;
          line-height: 30px;
        }
      }

      @media screen and (min-width: 1300px)and (max-width: 1500px) {
        .title { 
          font-size: 40px;
          line-height: 35px;
        }
      }
  
      .btn {
        margin: 15px 0 0;
        white: #fff;
  
        &::before {
          background:#fff
        }
      }
    }

    .assets-slide{
      .pagination { 
        position: absolute;
        left: 0;
        height: 12px;
        cursor: default;
        z-index: 2;
        text-align: center;
        bottom: 235px;
        left: -27px;
        @include rotate(-90deg);

        @media screen and (min-width: 1300px)and (max-width: 1500px) {
          bottom: 175px;
        }
    
        .item { 
          display: inline-block;
          padding: 15px 5px;
          position: relative;
          width: 37px;
          height: 32px;
          cursor: pointer;
          text-indent: -999em;
          z-index: 1;
    
          + .page {
            margin-left: -2px;
          }
    
          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 15px;
            left: 5px;
            width: 30px;
            height: 10px;
            background: $white;
            transition: background 0.1s ease;
            @include border-radius(50px)
          }
    
          &::after {
            width: 0;
            background: $blue-2;
            z-index: 2;
            transition: width 0.1s ease;
          }
    
          &:hover::before,
          &.is-active::before {
            background-color: $blue-2;
          }
        }
      }
    
      .arrows {
        .arrow {
          position: absolute;
          bottom: 30px;
          cursor: pointer;
          z-index: 3;
          @include rotate(-90deg);
        }
    
        .prev {
          left: 0px;
        }
    
        .next {
          left: 0;
          bottom: 100px;
        }

        @media(max-width: $screen-xs-max){
          .arrow {
            @include rotate(0deg);
          }
        }

        @media screen and (min-width: 1300px)and (max-width: 1500px) {
          .arrow {
            bottom: -10px;
          }
      
          .next {
            left: 0;
            bottom: 50px;
          }
        }
    
        .svg {
          position: relative;
          left: 0;
          width: 14px;
          height: 26px;
          fill: #fff;
          transition: left 0.2s ease;
        }
  
        button {
          background: none;
          border: 0;
          box-sizing: border-box;
          margin: 1em;
          padding: 1em 2em;
          box-shadow: 0;
          color: $white;
          font-size: inherit;
          font-weight: 700;
          position: relative;
          vertical-align: middle;
          outline: none!important;
        
          &::before, &::after {
            box-sizing: inherit;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }
        
        .spin {
          width: 60px;
          height: 60px;
          padding: 0;
        
          &:hover {
            color: $white;
          }
        
          &::before, &::after {
            top: 0;
            left: 0;
          }
        
          &::before {
            border: 1px solid transparent;
          }
        
          &:hover::before {
            border-top-color: $white;
            border-right-color: $white;
            border-bottom-color: $white;
            transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
          }
        
          &::after {
            border: 0 solid transparent;
          }
        
          &:hover::after {
            border-top: 1px solid $white;
            border-left-width: 1px;
            border-right-width: 1px;
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
            transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
            transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
          }
        }
        
        .circle {
          border-radius: 100%;
          box-shadow: none;
        
          &::before, &::after {
            border-radius: 100%;
          }
        }
        
        /* Page styling */
        
        .buttons {
          isolation: isolate;
        }
        
        @media(max-width: $screen-xs-max){
          .arrow {
            bottom: 50px;
          }
      
          .prev {
            left: 0px;
          }
      
          .next {
            left: 70px;
          }
        }
      }
    }
  }

/*Menu full width*/
.button_container {
  position: fixed;
  top: 24px;
  right: 30px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 99999999;
  transition: opacity .25s ease;
  display: none;
  
  &:hover {
    opacity: .7;
  }
  
  span {
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 11px;
    }
    
    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $green-1;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background-image: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 999;
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }

  nav {
    font-size: 70px;
    font-family: 'proximaBold';
    line-height: 69px;
    margin-top: 80px;
    
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
    
    li {
      display: inline-block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      
      a {
        margin: 0 40px 5px 0;
        display: block;
        position: relative;
        color: $white;
        text-decoration: none;
        overflow: hidden;
        /* font-family: 'Montserrat', sans-serif; */
        font-weight: bold;
             
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $white;
          transition: .35s;
        }
      }
    }
  }

 

  #page-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

  .title-menu{
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 32px;
    span{
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
  }

  .text{
    color: $white;
    line-height: 19px;
  }

  footer{
    a{
      text-decoration: none!important;
    }
    .social{
      text-transform: uppercase;
      color: $white;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 3px;
      text-decoration: none;

    }

    .dev{
      color: $white;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      .kf-links{
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: $white;
        text-decoration: none;
      }
    }
  }

  @media(max-width: $screen-xs-max){
    nav {
      font-size: 18px;
      line-height: initial;
      margin-top: 50px;
    }

    ul{
      li{
        display: block;
        min-height: 30px;
        a{
          svg{
              width: 14px!important;
          } 
        }
      }
    }

    .title-menu{
      font-size: 25px;
      line-height: 22px;
    }

    .text{
      margin: 0;
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
  
section.vantagens{
  padding-top: 100px;
  padding-bottom: 50px;
  .title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 28px;
    span{
      font-weight: 700;
    }
  }

  .elements{
    position: relative;
    top: 170px;

    .bar-blue{
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: -350px auto;
      display: block;
      width: 700px;
      height: 700px;
      background: $blue-1;
      background: -moz-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
      background: -webkit-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
      background: linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#194ff2",endColorstr="#00b7f8",GradientType=1);
      z-index: -1;
      @include border-radius(50%);
      &:after{
        content: '';
        background-color: $white;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -250px auto;
        display: block;
        width: 500px;
        height: 500px;
        @include border-radius(50%);
      }
    }

    .bar-one{
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: -450px auto;
      display: block;
      width: 900px;
      height: 900px; 
      border: 1px solid rgba(0, 0, 0, 0.164);   
      @include border-radius(50%);

      .-one{
        position: relative;
        z-index: 2;
        left: -315px;
        top: 70px;
        p{
          color: $gray;
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
        }
        &:after{
          content: '';
          width: 15px;
          height: 15px;
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: -25px;
          background: $blue-1;
          background: -moz-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
          background: -webkit-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
          background: linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#194ff2",endColorstr="#00b7f8",GradientType=1);
          @include border-radius(50%);
        }
      }

      .-two{
        @extend .-one;
        left: -390px;
        top: 110px;
      }

      .-three{
        @extend .-one;
        left: -440px;
        top: 160px;
      }

      .-four{
        @extend .-one;
        left: -450px;
        top: 220px;
      }
      
      .-five{
        @extend .-one;
        left: auto;
        right: -393px;
        top: -80px;
      }
      
      .-six{
        @extend .-two;
        left: auto;
        right: -436px;
        top: -30px;
      }
      
      .-seven{
        @extend .-three;
        left: auto;
        right: -450px;
        top: 20px;
      }

      .-eight{
        @extend .-four;
        left: auto;
        right: -433px;
        top: 70px;    
      }
    }

    .bar-two{
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: -525px auto;
      display: block;
      width: 1050px;
      height: 1050px; 
      border: 1px solid rgba(0, 0, 0, 0.062);   
      @include border-radius(50%);
    }
    
    .bar-three{
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: -650px auto;
      display: block;
      width: 1300px;
      height: 1300px; 
      border: 1px solid rgba(0, 0, 0, 0.062);   
      @include border-radius(50%);
    }
  }

  .vant{
    .box{
      background-color: $white;
      -webkit-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.034);
      -moz-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.034);
      box-shadow: 0px 0px 27px -4px rgba(0, 0, 0, 0.034);
      padding: 15px;
      margin: 10px auto;
      @include border-radius(15px);
      p{
        color: $gray;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin: 0;
      }
    }
  }

}

section.servicos{
  padding-top: 70px;
  padding-bottom: 120px;
  background-image: url("../images/bg-testmonial.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  margin-top: 280px;
  @media(max-width: $screen-xs-max){
    margin-top: auto;
    text-align: center;
  }

  .title{
    color: $white;
    line-height: 30px;
    font-weight: 300;
    span{
      font-weight: 700;
    }
  }

  .demo{
    svg{
      width: 100px;
      height: 100px;
      display: block;
      margin: 15px auto;
      fill: $white;
    }

    span{
      color: $white;
      font-size: 23px;
      font-weight: 300;
      font-family: 'Montserrat', sans-serif;
      line-height: 27px;
    }
    .counter{
      color: $white;
      font-size: 23px;
      font-weight: 300;
      font-family: 'Montserrat', sans-serif;
      line-height: 27px;
    }

    .text{
      color: $white;
      font-size: 25px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      line-height: 24px;
      margin-bottom: 0;
      @media(max-width: $screen-xs-max){
          margin-bottom: 30px;
      }
    }
  }
}

section.depoimentos{
  position: relative;
  padding-top: 50px;
  &:after{
    content: 'Depoimentos';
    font-weight: 800;
    font-size: 150px;
    font-family: 'Montserrat', sans-serif;
    color: $gray;
    opacity: .1;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .title{
    line-height: 30px;
    font-weight: 300;
    span{
      font-weight: 700;
    }
  }

  .-aux{
    padding: 0;
    position: relative;
    top: -100px;
    left: 80px;
  }

  

  .box{
    background-color: $white;
    -webkit-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.034);
    -moz-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.034);
    box-shadow: 0px 0px 27px -4px rgba(0, 0, 0, 0.034);
    padding: 35px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    @include border-radius(15px);

    .name{
      font-weight: 700;
    }

    .cargo{
      color: $gray-light;
    }
  }
  .owl-nav{
    position: absolute;
    top: 50%;
    left: -25px;
    margin-top: -50px;

    .owl-prev{
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      display: block;
      background: $blue-1;
      background: -moz-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
      background: -webkit-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
      background: linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#194ff2",endColorstr="#00b7f8",GradientType=1);
      margin-top: 55px;
      @include border-radius(50%);
      svg{
        fill: $white;
      }
    }

    .owl-next{
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      display: block;
      background: $blue-1;
      background: -moz-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
      background: -webkit-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
      background: linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#194ff2",endColorstr="#00b7f8",GradientType=1);
      @include border-radius(50%);
      svg{
        fill: $white;
      }
    }
  }

  @media(max-width: $screen-xs-max){
    .-aux{
      position: static;
      top: auto;
      left: auto;
      padding: 15px;
    }

    .box{
      .quote{
        width: 60px;
        margin-bottom: 15px;
      }
    }

    .owl-nav{
      position: absolute;
      top: -20px;
      left: auto;
      right: 100px;
      margin-top: 0;
      display: none;
  
      .owl-prev{
        margin-top: 0;
        left: 55px;
      }
    }
  }
}

section.pacotes{
  padding-top: 50px;
  .bar{
    background: $blue-1;
    background: -moz-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
    background: -webkit-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
    background: linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#194ff2",endColorstr="#00b7f8",GradientType=1);
    display: block;
    width: 80px;
    height: 10px;
    margin: 0 auto;
    @include border-radius(50px);
  }
  .title{
    font-weight: 300;
    margin-top: 15px;
    line-height: 30px;
    span{
      font-weight: 700;
    }
  }

  .exclusive{
    position: relative;
    .mais-vendido{
      position: absolute;
      right: -30px;
      top: -30px;
      z-index: 9;
    }

    @media(max-width: $screen-xs-max){
      .mais-vendido{
        right: 0;
        left: 0;
        margin: 0 auto;
        top: -30px;
      }
    }
  }


  ul li{
    list-style: none;
  }
  /* .pricing-container {
    width: 90%;
    max-width: 1170px;
    margin: 4em auto;
  }
  
  .pricing-container {
      margin: 6em auto;
  } */
  /* .pricing-container.full-width {
      width: 100%;
      max-width: none;
  } */
  
  .pricing-switcher {
    text-align: center;
  }
  
  .pricing-switcher .fieldset {
    display: inline-block;
    position: relative;
    padding: 2px;
    @include border-radius(50px);
    border: 2px solid $blue-2;
    margin: 0;
  }
  
  .pricing-switcher input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  
  .pricing-switcher label {
    position: relative;
    z-index: 1;
    display: inline-block;
    float: left;
    width: 90px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 16px;
    color: $gray;
    font-weight: 700;
    margin: 0;
  }
  
  .pricing-switcher .switch {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 40px;
    width: 90px;
    background: $blue-1;
    background: -moz-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
    background: -webkit-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
    background: linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#194ff2",endColorstr="#00b7f8",GradientType=1);
    @include border-radius(50px);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
  }
  
  .pricing-switcher input[type="radio"]:checked + label + .switch,
  .pricing-switcher input[type="radio"]:checked + label:nth-of-type(n) + .switch {
    -webkit-transform: translateX(90px);
    -moz-transform: translateX(90px);
    -ms-transform: translateX(90px);
    -o-transform: translateX(90px);
    transform: translateX(90px);
  }
  
  .no-js .pricing-switcher {
    display: none;
  }
  
  .pricing-list {
    margin: 2em 0 0;
  }
  
  .pricing-list > li {
    position: relative;
    margin-bottom: 1em;
    
  }
  
  @media only screen and (min-width: 768px) {
    .pricing-list {
      margin: 3em 0 0;
    }
    .pricing-list:after {
      content: "";
      display: table;
      clear: both;
    }
    .pricing-list > li {
      width: 33.3333333333%;
      float: left;
      padding-left: 5px;
      padding-right: 5px;
    }
    .has-margins .pricing-list > li {
      width: 32.3333333333%;
      float: left;
      margin-right: 1.5%;
    }
    .has-margins .pricing-list > li:last-of-type {
      margin-right: 0;
    }
  }
  
  .pricing-wrapper {
    position: relative;
    padding: 0;
    background-color: $white!important;
    -webkit-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.103);
    -moz-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.103);
    box-shadow: 0px 0px 27px -4px rgba(0, 0, 0, 0.103);
    @include border-radius(25px);
  }
  
  .touch .pricing-wrapper {
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    perspective: 2000px;
  }
  
  .pricing-wrapper.is-switched .is-visible {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-animation: rotate 0.5s;
    -moz-animation: rotate 0.5s;
    animation: rotate 0.5s;
  }
  
  .pricing-wrapper.is-switched .is-hidden {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-animation: rotate-inverse 0.5s;
    -moz-animation: rotate-inverse 0.5s;
    animation: rotate-inverse 0.5s;
    opacity: 0;
  }
  
  .pricing-wrapper.is-switched .is-selected {
    opacity: 1;
  }
  
  .pricing-wrapper.is-switched.reverse-animation .is-visible {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-animation: rotate-back 0.5s;
    -moz-animation: rotate-back 0.5s;
    animation: rotate-back 0.5s;
  }
  
  .pricing-wrapper.is-switched.reverse-animation .is-hidden {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-animation: rotate-inverse-back 0.5s;
    -moz-animation: rotate-inverse-back 0.5s;
    animation: rotate-inverse-back 0.5s;
    opacity: 0;
  }
  
  .pricing-wrapper.is-switched.reverse-animation .is-selected {
    opacity: 1;
  }
  
  .pricing-wrapper > li {
    background-color: #ffffff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    padding-bottom: 30px;
    @include border-radius(25px);
  }
  
  .pricing-wrapper > li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    
    pointer-events: none;
    background: -webkit-linear-gradient( right , #ffffff, rgba(255, 255, 255, 0));
    background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
  }
  
  .pricing-wrapper > li.is-ended::after {
    display: none;
  }
  
  .pricing-wrapper .is-visible {
    position: relative;
    z-index: 5;
  }
  
  .pricing-wrapper .is-hidden {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .pricing-wrapper .is-selected {
    z-index: 3 !important;
  }
  
  @media only screen and (min-width: 768px) {
    .pricing-wrapper > li::before {
      content: '';
      position: absolute;
      z-index: 6;
      left: -1px;
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 50%;
      width: 1px;
      background-color: #b1d6e8;
    }
    .pricing-wrapper > li::after {
      display: none;
    }
    .exclusive .pricing-wrapper > li {
      box-shadow: inset 0 0 0 3px $blue-2;
      @include border-radius(25px);
    }
    .has-margins .pricing-wrapper > li,
    .has-margins .exclusive .pricing-wrapper > li {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }
    :nth-of-type(1) > .pricing-wrapper > li::before {
      display: none;
    }
    .has-margins .pricing-wrapper > li {
      border-radius: 4px 4px 6px 6px;
    }
    .has-margins .pricing-wrapper > li::before {
      display: none;
    }
  }
  
  @media only screen and (min-width: 1500px) {
    .full-width .pricing-wrapper > li {
      padding: 2.5em 0;
    }
  }
  
  .no-js .pricing-wrapper .is-hidden {
    position: relative;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    margin-top: 1em;
  }
  
  @media only screen and (min-width: 768px) {
    .exclusive .pricing-wrapper > li::before {
      display: none;
    }
    .exclusive + li .pricing-wrapper > li::before {
      display: none;
    }
  }
  
  .pricing-header h2 {
    padding: 0.9em 0.9em 0.6em;
      font-weight: 400;
      margin-bottom: 10px;
      margin-top: 10px;
      text-transform: uppercase;
    text-align: center;
  }
  
  .pricing-header {
      height: auto;
      padding: 1.9em 0 1.6em;
      pointer-events: auto;
      text-align: center;
      color: #173d50;
      background-color: transparent;
  }
  
  .exclusive .pricing-header {
      color: #1bbc9d;
      background-color: transparent;
  }
  
  .pricing-header h2 {
      font-size: 25px;
      font-weight: 700;
  }
  
  .currency,
  .value {
    font-size: 65px;
    font-weight: 700;
    color: $gray;
    font-family: 'Montserrat', sans-serif;
  }
  
  .duration {
    font-weight: 700;
    font-size: 1.3rem;
    color: #8dc8e4;
  }
  
  .exclusive .duration {
    color: #f3b6ab;
  }
  
  .duration::before {
    content: '/';
    margin-right: 2px;
  }
  
  
  
  .currency, 
  .duration {
    background: -webkit-linear-gradient($blue-1, $blue-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .exclusive .currency,
  .exclusive .duration {
      color: #2d3e50;
  }
  
  .currency {
      display: inline-block;
      margin-top: 10px;
      vertical-align: top;
      font-size: 2rem;
      font-weight: 700;
  }
  
  .duration {
      font-size: 1.4rem;
  }
  
  .pricing-body {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .is-switched .pricing-body {
    overflow: hidden;
  }
  
  .pricing-body {
      overflow-x: visible;
  }
  
  .pricing-features {
    width: 600px;
  }
  
  .pricing-features:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .pricing-features li {
    width: 100px;
    float: left;
    padding: 5px 1em;
    font-size: 16px;
    text-align: center;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .pricing-features em {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .pricing-features {
      width: auto;
  }
  
  .pricing-features li {
      float: none;
      width: auto;
  }
  
  .exclusive .pricing-features li {
      margin: 0 3px;
  }
    
  .pricing-features em {
      display: inline-block;
      margin-bottom: 0;
  }
  
  .has-margins .exclusive .pricing-features li {
      margin: 0;
  }
  
  .pricing-footer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
  }
  
  .pricing-footer {
      position: relative;
      height: auto;
      padding: 1.8em 0;
      text-align: center;
  }
  
  .pricing-footer::after {
      display: none;
  }
  
  .has-margins .pricing-footer {
      padding-bottom: 0;
  }
  
  .select {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
  }
  
  .select {
      position: static;
      display: inline-block;
      height: auto;
      padding: 1.3em 2em;
      color: #1bbc9d;
      border-radius: 8px;
      border: 2px solid #1bbc9d;
      font-size: 1.4rem;
      text-indent: 0;
      text-transform: uppercase;
      letter-spacing: 2px;
    transition: all .6s;
    width: 70%;
  }
  
  .no-touch .select:hover {
      background-color: #1bbc9d;
    color: #ffffff;
  }
  
  .exclusive .select {
      background-color: #1bbc9d;
    color: #ffffff;
  }
    
  .no-touch .exclusive .select:hover {
      background-color: #24e0ba;
  }
    
  .secondary-theme .exclusive .select {
      background-color: #1bbc9d;
  }
    
  .no-touch .secondary-theme .exclusive .select:hover {
      background-color: #112e3c;
  }
    
  .has-margins .select {
      display: block;
      padding: 1.7em 0;
      border-radius: 0 0 4px 4px;
  }
  
  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: perspective(2000px) rotateY(0);
    }
    70% {
      -webkit-transform: perspective(2000px) rotateY(200deg);
    }
    100% {
      -webkit-transform: perspective(2000px) rotateY(180deg);
    }
  }
  
  @-moz-keyframes rotate {
    0% {
      -moz-transform: perspective(2000px) rotateY(0);
    }
    70% {
      -moz-transform: perspective(2000px) rotateY(200deg);
    }
    100% {
      -moz-transform: perspective(2000px) rotateY(180deg);
    }
  }
  
  @keyframes rotate {
    0% {
      -webkit-transform: perspective(2000px) rotateY(0);
      -moz-transform: perspective(2000px) rotateY(0);
      -ms-transform: perspective(2000px) rotateY(0);
      -o-transform: perspective(2000px) rotateY(0);
      transform: perspective(2000px) rotateY(0);
    }
    70% {
      -webkit-transform: perspective(2000px) rotateY(200deg);
      -moz-transform: perspective(2000px) rotateY(200deg);
      -ms-transform: perspective(2000px) rotateY(200deg);
      -o-transform: perspective(2000px) rotateY(200deg);
      transform: perspective(2000px) rotateY(200deg);
    }
    100% {
      -webkit-transform: perspective(2000px) rotateY(180deg);
      -moz-transform: perspective(2000px) rotateY(180deg);
      -ms-transform: perspective(2000px) rotateY(180deg);
      -o-transform: perspective(2000px) rotateY(180deg);
      transform: perspective(2000px) rotateY(180deg);
    }
  }
  
  @-webkit-keyframes rotate-inverse {
    0% {
      -webkit-transform: perspective(2000px) rotateY(-180deg);
    }
    70% {
      -webkit-transform: perspective(2000px) rotateY(20deg);
    }
    100% {
      -webkit-transform: perspective(2000px) rotateY(0);
    }
  }
  
  @-moz-keyframes rotate-inverse {
    0% {
      -moz-transform: perspective(2000px) rotateY(-180deg);
    }
    70% {
      -moz-transform: perspective(2000px) rotateY(20deg);
    }
    100% {
      -moz-transform: perspective(2000px) rotateY(0);
    }
  }
  
  @keyframes rotate-inverse {
    0% {
      -webkit-transform: perspective(2000px) rotateY(-180deg);
      -moz-transform: perspective(2000px) rotateY(-180deg);
      -ms-transform: perspective(2000px) rotateY(-180deg);
      -o-transform: perspective(2000px) rotateY(-180deg);
      transform: perspective(2000px) rotateY(-180deg);
    }
    70% {
      -webkit-transform: perspective(2000px) rotateY(20deg);
      -moz-transform: perspective(2000px) rotateY(20deg);
      -ms-transform: perspective(2000px) rotateY(20deg);
      -o-transform: perspective(2000px) rotateY(20deg);
      transform: perspective(2000px) rotateY(20deg);
    }
    100% {
      -webkit-transform: perspective(2000px) rotateY(0);
      -moz-transform: perspective(2000px) rotateY(0);
      -ms-transform: perspective(2000px) rotateY(0);
      -o-transform: perspective(2000px) rotateY(0);
      transform: perspective(2000px) rotateY(0);
    }
  }
  
  @-webkit-keyframes rotate-back {
    0% {
      -webkit-transform: perspective(2000px) rotateY(0);
    }
    70% {
      -webkit-transform: perspective(2000px) rotateY(-200deg);
    }
    100% {
      -webkit-transform: perspective(2000px) rotateY(-180deg);
    }
  }
  
  @-moz-keyframes rotate-back {
    0% {
      -moz-transform: perspective(2000px) rotateY(0);
    }
    70% {
      -moz-transform: perspective(2000px) rotateY(-200deg);
    }
    100% {
      -moz-transform: perspective(2000px) rotateY(-180deg);
    }
  }
  
  @keyframes rotate-back {
    0% {
      -webkit-transform: perspective(2000px) rotateY(0);
      -moz-transform: perspective(2000px) rotateY(0);
      -ms-transform: perspective(2000px) rotateY(0);
      -o-transform: perspective(2000px) rotateY(0);
      transform: perspective(2000px) rotateY(0);
    }
    70% {
      -webkit-transform: perspective(2000px) rotateY(-200deg);
      -moz-transform: perspective(2000px) rotateY(-200deg);
      -ms-transform: perspective(2000px) rotateY(-200deg);
      -o-transform: perspective(2000px) rotateY(-200deg);
      transform: perspective(2000px) rotateY(-200deg);
    }
    100% {
      -webkit-transform: perspective(2000px) rotateY(-180deg);
      -moz-transform: perspective(2000px) rotateY(-180deg);
      -ms-transform: perspective(2000px) rotateY(-180deg);
      -o-transform: perspective(2000px) rotateY(-180deg);
      transform: perspective(2000px) rotateY(-180deg);
    }
  }
  
  @-webkit-keyframes rotate-inverse-back {
    0% {
      -webkit-transform: perspective(2000px) rotateY(180deg);
    }
    70% {
      -webkit-transform: perspective(2000px) rotateY(-20deg);
    }
    100% {
      -webkit-transform: perspective(2000px) rotateY(0);
    }
  }
  
  @-moz-keyframes rotate-inverse-back {
    0% {
      -moz-transform: perspective(2000px) rotateY(180deg);
    }
    70% {
      -moz-transform: perspective(2000px) rotateY(-20deg);
    }
    100% {
      -moz-transform: perspective(2000px) rotateY(0);
    }
  }
  
  @keyframes rotate-inverse-back {
    0% {
      -webkit-transform: perspective(2000px) rotateY(180deg);
      -moz-transform: perspective(2000px) rotateY(180deg);
      -ms-transform: perspective(2000px) rotateY(180deg);
      -o-transform: perspective(2000px) rotateY(180deg);
      transform: perspective(2000px) rotateY(180deg);
    }
    70% {
      -webkit-transform: perspective(2000px) rotateY(-20deg);
      -moz-transform: perspective(2000px) rotateY(-20deg);
      -ms-transform: perspective(2000px) rotateY(-20deg);
      -o-transform: perspective(2000px) rotateY(-20deg);
      transform: perspective(2000px) rotateY(-20deg);
    }
    100% {
      -webkit-transform: perspective(2000px) rotateY(0);
      -moz-transform: perspective(2000px) rotateY(0);
      -ms-transform: perspective(2000px) rotateY(0);
      -o-transform: perspective(2000px) rotateY(0);
      transform: perspective(2000px) rotateY(0);
    }
  }
}

section.contato{
    padding-top: 80px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../images/men-footer.png");
      width: 710px;
      height: 750px;
      @media(max-width: $screen-xs-max){
        display: none;
      }
    }

    .bar{
      background: $blue-1;
      background: -moz-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
      background: -webkit-linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
      background: linear-gradient(155deg, $blue-1 0%, $blue-2 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#194ff2",endColorstr="#00b7f8",GradientType=1);
      display: block;
      width: 80px;
      height: 10px;
      margin-bottom: 15px;
      @include border-radius(50px);
    }
    .title{
      font-weight: 300;
      margin-top: 15px;
      line-height: 30px;
      span{
        font-weight: 700;
      }
    }

    .btns{
      position: relative;

      .info{
        padding: 12px 22px 12px 62px !important;
        position: absolute;
        white-space: nowrap;
        right: 10px;
        z-index: -1;
      }

      @media(max-width: $screen-xs-max){
        .whats{
          width: 100%;
          text-align: center;
        }
        .info{
          padding: 32px 18px 12px 18px !important;
          position: relative;
          width: 100%;
          white-space: nowrap;
          right: auto;
          z-index: -1;
          text-align: center;
          top: -20px;
          @include border-radius(0 0 25px 25px);
        }
      }
    }

    form{
      input{
        border: 1px solid #d1d1d1;
        padding: 30px;
        color: $gray;
        outline: none!important;
        box-shadow: none!important;
        border-color: #d1d1d1!important;
        @include border-radius(50px);
      }

      textarea{
        @extend input;
        @include border-radius(25px);
      }
    }

    .copy{
      color: $gray-light;
      margin-top: 50px;
      margin-bottom: 15px;
      text-align: right;
      strong{
        a{
          color: $gray-light;
        }
      }
    }

    @media(max-width: $screen-xs-max){
      .copy{
        text-align: center;
      }
    }
}


