/*Color*/
$white: #fff;
$green-1: #18A074;
$green-dark: #002116;
$gray-dark: #5C5C5C;
$gray-light: #9f9f9f;
$gray-range: #e3ddd8;
$green: #48c356;
$blue-1: #194FF2;
$blue-2: #00B7F8;
$gray: #2C3745;

/*Bootstrap*/
$font-family-sans-serif:      'Open Sans', sans-serif !default;
$font-family-monospace:       'Open Sans', sans-serif !default;
$font-family-base:            $font-family-sans-serif !default;

/*responsive dynamic system*/
//== Media queries breakpoints

// Extra small screen / phone
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

// Small screen / tablet
$screen-sm:                  850px;
$screen-sm-min:              $screen-sm;

// Medium screen / desktop
$screen-md:                  1024px;
$screen-md-min:              $screen-md;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

$screen: "only screen";
$xs-up: $screen;
$xs-only: "#{$screen} and (max-width: #{$screen-xs-max})";

$sm-up: "#{$screen} and (min-width: #{$screen-sm-min})";
$sm-only: "#{$screen} and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";

$md-up: "#{$screen} and (min-width: #{$screen-md-max})";
$md-only: "#{$screen} and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";

$lg-up: "#{$screen} and (min-width: #{$screen-lg-min})";