    /*
    Flaticon icon font: Flaticon
    Creation date: 14/10/2019 15:54
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-back:before { content: "\f100"; }
.flaticon-next:before { content: "\f101"; }
.flaticon-right-arrow:before { content: "\f102"; }
.flaticon-left-arrow:before { content: "\f103"; }
.flaticon-add:before { content: "\f104"; }
.flaticon-up-arrow:before { content: "\f105"; }
.flaticon-up-arrow-1:before { content: "\f106"; }
.flaticon-down-arrow:before { content: "\f107"; }
.flaticon-play-button:before { content: "\f108"; }
.flaticon-piggybank:before { content: "\f109"; }
.flaticon-solar-panel:before { content: "\f10a"; }
.flaticon-conversation:before { content: "\f10b"; }
.flaticon-facebook:before { content: "\f10c"; }
.flaticon-instagram:before { content: "\f10d"; }
.flaticon-youtube:before { content: "\f10e"; }
.flaticon-whatsapp:before { content: "\f10f"; }
    
    $font-Flaticon-back: "\f100";
    $font-Flaticon-next: "\f101";
    $font-Flaticon-right-arrow: "\f102";
    $font-Flaticon-left-arrow: "\f103";
    $font-Flaticon-add: "\f104";
    $font-Flaticon-up-arrow: "\f105";
    $font-Flaticon-up-arrow-1: "\f106";
    $font-Flaticon-down-arrow: "\f107";
    $font-Flaticon-play-button: "\f108";
    $font-Flaticon-piggybank: "\f109";
    $font-Flaticon-solar-panel: "\f10a";
    $font-Flaticon-conversation: "\f10b";
    $font-Flaticon-facebook: "\f10c";
    $font-Flaticon-instagram: "\f10d";
    $font-Flaticon-youtube: "\f10e";
    $font-Flaticon-whatsapp: "\f10f";