.flaticon-back:before {
	content: "\e001";
}
.flaticon-next:before {
	content: "\e002";
}
.flaticon-right-arrow:before {
	content: "\e003";
}
.flaticon-left-arrow:before {
	content: "\e004";
}
.flaticon-add:before {
	content: "\e005";
}
.flaticon-up-arrow:before {
	content: "\e006";
}
.flaticon-up-arrow-1:before {
	content: "\e007";
}
.flaticon-down-arrow:before {
	content: "\e008";
}
.flaticon-play-button:before {
	content: "\e009";
}
.flaticon-piggybank:before {
	content: "\e00a";
}
.flaticon-solar-panel:before {
	content: "\e00b";
}
.flaticon-conversation:before {
	content: "\e00c";
}
.flaticon-facebook:before {
	content: "\e00d";
}
.flaticon-instagram:before {
	content: "\e00e";
}
.flaticon-youtube:before {
	content: "\e00f";
}
.flaticon-whatsapp:before {
	content: "\e010";
}
